.container {
     margin-right:50px;
    margin-top:40px;
    width: 70%;
    padding: 20px;
    background-color:darkblue;
    border-radius: 12px;
    border-width: 5px;
}
.span1 {
    
   
}
 .span2{
    
 }
.span3 {
    
}
.button {
    width: 60%;
    background-color: darkblue;
   
}
.background{
    
    margin:0px;
}
.body{
    display:inline-flex;
}
li {
   list-style-type:none;
    border: hidden;
    border-bottom: 1px solid #00008B;
}
