.container {
     margin-right:50px;
    margin-top:40px;
    width: 70%;
    padding: 20px;
    background-color:gray;
    border-radius: 12px;
    border-width: 5px;
}

.button {
    width: 70%;
    background-color: darkblue;
    color:white;
    border-radius:1rem
   
}
.button:hover{
    background-color:deepskyblue;
}
.background{
    
    margin:0px;
}
.body{
    display:inline-flex;
}
li {
   list-style-type:none;
    border: hidden;
    border-bottom: 1px solid #00008B;
}
.inline{
    display:inline-flex;
}
tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}

th:nth-child(even), td:nth-child(even) {
    background-color: deepskyblue;
}
