.container {
    border-radius: 4px;
    margin: 50px 100px 100px 50px;
    width: 40%;
    padding: 20px;
    background-color:darkblue;
    border-radius:12px;
   
}
.label {
    color:aquamarine;
    font-style: inherit;
    font-size: 20px;
    margin:20px;
    font-size:20px
}
.input{
    padding:5px;
    border:none;
    
}
.button{
    width:40%;
    background-color:aquamarine;
    margin-left:140px;
    color:darkblue;
    margin-top:20px;
        
}