.header{
    background-color:deepskyblue;
    height:100px;
}
.header1 {
    background-color: deepskyblue;
}
.tagline1{
    font-style:italic;
    padding-left:20px;
    font-weight:bold;
        
}
.tagline2 {
    padding-left: 20px;
    font-size:50px;
    font-family:Cambria;
}
.premium{
    padding-left:830px;
    
}
    .premium button {
        width: 120%;
        background-color:darkblue;
        color:white
    }
    .button{
        border-radius:1rem;
        background-color:black;
        color:greenyellow;
        font-size:1.3rem;
        padding:0.5rem;
        margin-left:53rem;
    }
    .button:hover{
        background-color:lawngreen;
        color:black;
    }