.inline{
    display:inline-flex;
   
}
.buttonlight {
    background-color: #ffffff;
    color: darkgreen;
    width:fit-content;
    margin-right: 10px;
    margin-left:50rem;
    font-size: 15px;
    border-radius:0.5rem;

}
.buttondark {
    color: greenyellow;
    width: fit-content;
    margin-right: 10px;
    font-size: 15px;
    background-color: black;
    margin-left: 50rem;
    border-radius: 0.5rem;
}
.theme{
    
}
.buttondownload {
    font-size: 1rem;
    background-color:black;
    color: greenyellow;
    border-radius: 0.5rem;
}