
.message{
	font-style:italic;
	padding:10px 0px 20px 10px;
	border:hidden;
	border-bottom:1px solid #ccc;
	

}

.second{
	border-radius:8px;
	border:hidden;
	width:fit-content;
	margin-left:1000px;
	background-color:plum;
	padding:2px 3px 2px 3px;
}
.button {
	width: fit-content;
	padding: 5px;
	margin-left:10px;
	font-size:15px;
	background-color:red;
}
.container {
	padding: 20px;
	border: hidden;
	font-size: 20px;
	border-bottom: 1px solid #ccc;
}
.title{
	text-align:center;
	font-weight:bold;
	font-size:40px
}
.trackButton {
	margin-top: 30px;
	width: 300px;
	margin-left: 600px;
	font-weight: bold;
	background: radial-gradient(circle at center, cyan, rgb(77, 136, 212), blue),100%;
}
trackButton:active {
	background-color:blue;
}

