.container{
    border-radius:4px;
    border:1px solid gray;
    margin:200px 600px 200px 600px;
    width:fit-content;
    padding:20px;
    background-color:lavenderblush;    
}
.title{
    text-align:center;
    padding-bottom:20px;
    font-size:25px;
    font-weight: bold;
}
input{
    margin:10px;
    padding:10px;
    
}
button{
    background-color:darkturquoise;
    font-size:20px;
    border-radius:15px;
    width:100%;
    border-width:0px;
    color:white;
    padding:5px 0px 5px 0px;
    margin-top:10px;
    margin-bottom:15px
}
button:active{
    background-color:mediumblue;
}